@model MvcUser.Models.User

@{
    ViewData["Title"] = "Log in";
}

<br>
<br>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Message1</h3>
<div class = "center-form">
    <div  class = "center">
        <h3>Log in</h3>
    </div>
    <form asp-action="Log in">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <div class = "invalid-feedback d-block">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control">
            <div class = "invalid-feedback d-block">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <input type="submit" value="Log in" class="btn btn-primary">
    </form>
    <br>
    <div class="alert alert-info text-center" role="alert">
            <span class="">You are not registred?</span><br>
            <a asp-controller ="user" asp-action="Registration" class="alert-link text-primary">Registration</a>
    </div>
</div>