@model MvcUser.Models.User

@{
    ViewData["Title"] = "Registration";
}

<br>
<br>
<h3>@ViewBag.Message</h3>
<div class = "center-form">
    <div  class = "center">
        <h3>Registration</h3>
    </div>
    <form asp-action="Registration">
        <div class="form-group">
            <label asp-for="Login"></label>
            <input asp-for="Login" class="form-control">
            <div class = "invalid-feedback d-block">
                <span asp-validation-for="Login"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <div class = "invalid-feedback d-block">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control">
            <div class = "invalid-feedback d-block">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <input type="submit" value="Registration" class="btn btn-primary">
    </form>
</div>

<br>
<br>