@model MvcUser.Models.User

@{
    ViewData["Title"] = "Registration";
}

<br>
<br>
<div class = "center-form">
    <div  class = "center">
        <h3>Registration</h3>
    </div>
    <form asp-action="Registration">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control">
            <div class = "invalid-feedback d-block">
                <span asp-validation-for="Username"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <div class = "invalid-feedback d-block">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control">
            <div class = "invalid-feedback d-block">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <input type="submit" value="Registration" class="btn btn-primary">
    </form>
    <br>
    <div class="alert alert-info text-center" role="alert">
            <span class="text-xs-center">You are registred?</span><br>
            <a asp-controller ="user" asp-action="login" class="alert-link text-primary">Log in</a>
    </div>
</div>

<br>
<br>