*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
*.log
.vscode

Migrations
bin/
obj/
test.db
test.db-shm
test.db-wal
Application/wwwroot/lib/node_modules
Application/wwwroot/lib/package-lock.json



