<div id="comment-block" class = "mx-5" data-post-id="@Model.Id">
    <div class = "text-center" id = "button-view">
        <button type="button" class="btn btn btn-outline-primary" onclick="viewComments()">
            View comments
        </button>
    </div>
</div>


<!--<h5 class = "ml-1">Comments</h5>
    <div class="input-group">
      <input type="text" id="input-comment" class="form-control" placeholder="Your comment" onkeydown = "addComment()" data-post-id="@Model.Id">
      <div class="input-group-append">
        <button class="btn btn-success" type="button" id="add-comment" onclick="addComment()">
          Add
        </button>
      </div>
    </div>-->
   <!-- <div id="comments">
        <hr class = "mx-2"/>
        <div id = "comment" class="ml-4">
            <a>Name</a>
            <div>
                asdfasfdasfd
            </div>
        </div>
        <hr/>
        <div id = "comment">

        </div>
    </div>
    -->