<!--view detail post-->
@model MvcPost.Models.Post
@{
    ViewData["Title"] = "Details";
}
<h3 class = "text-center mt-5 mb-5">Details</h3>
<div class="card detailed-post mb-3">
  <div class="card-header text-center">
    @Html.DisplayFor(model => model.Title)
  </div>
  <div class="card-body">
    <p class="card-text">Description: @Html.DisplayFor(model => model.Description)</p>
    <p class="card-text">@Html.DisplayFor(model => model.Text)</p>
  </div>
  
</div>
<div class="card detailed-post pt-4 pb-4">
  @await Html.PartialAsync("_Comments")
</div>