<!--view detail post-->
@model MvcPost.Models.Post
@{
    ViewData["Title"] = "Details";
}
<p>Details</p>
<div>@Html.DisplayFor(model => model.Id)</div>
<div>@Html.DisplayFor(model => model.Title)</div>
<div>@Html.DisplayFor(model => model.Description)</div>
<div>@Html.DisplayFor(model => model.Text)</div>