@model paginationPage.Models.ListPages
@{
    ViewData["Title"] = "List";  
}
<div class = "center">
<div class="btn-group mt-4" role="group" aria-label="Basic example">
    <a asp-controller="Post" asp-action="List" class="btn btn-primary text-white">
        List
    </a>
    <a asp-controller="Post" asp-action="MyList" class="btn btn-primary text-white">
        My list
    </a>
    <a asp-controller = "Post" asp-action="Create" class="btn btn-success text-white">
        Create
    </a>
</div>
</div>
<div class = "posts">
@foreach (var item in Model.Posts) { 
<div class="card">
<h5 class="card-header text-white bg-primary">Post</h5>
<div class="card-body">
    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
    <a asp-controller="Post" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">More details</a>
  </div>
  <div class="card-footer text-right">
      <span class="card-title text-right">by @Html.DisplayFor(modelItem => item.User.Login)</span>
  </div>
</div>
<br>
}  
</div> 
@if(Model.PageCount > 1){
  ViewBag.page = "List";
  @await Html.PartialAsync("_Pagination", Model);
}

