    <!--Modal window feedback-->
<div class="modal fade" id="ModalFeedback" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="feedback-text-header">Feedback</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id = "feedbackSuccess" class="alert alert-success text-center" style="display: none;" role="alert">
            <span>Success</span>
        </div>
        <form onsubmit="GetFeedbackData();return false;">
        <div class="form-group">
            <label for="FeedbackEmail">Email</label>
            <input type="" class="form-control" id="FeedbackEmail" placeholder="Enter email">
            <div class = "invalid-feedback d-block">
                <span id="f-err-email"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="feedbackText">Text</label>
            <textarea class="form-control" id="FeedbackText" rows="3" placeholder="Enter text"></textarea>
            <div class = "invalid-feedback d-block">
                <span id="f-err-text"></span>
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="f-check">
            <label class="form-check-label" for="f-check">I agree to the processing of personal data</label>
            <div class = "invalid-feedback d-block">
                <span id="f-err-agree"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>