<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary text-white">
        <a class="navbar-brand">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Post" asp-action="Index"  class="nav-link">Post</a>
            </li>
            <li class="nav-item">
                <a asp-controller="User" asp-action="Index"  class="nav-link">Users</a>
            </li>
            <!--Button open modal window for feedback-->
            <li class="nav-item">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalFeedback">
                    Feedback
                </button>
            </li>
            </ul>
            <div class = "navbar-nav mr-3">
                @if(User.Identity.IsAuthenticated){
                    <a asp-controller="User" asp-action="logout" class="nav-link">Log out</a>
                }else{
                    <a asp-controller="User" asp-action="login" class="nav-link">Log in</a>
                    <a asp-controller="User" asp-action="Registration" class="nav-link">Registration</a>
                }

            </div>
        </div>
        </nav>
    </header>
    <div class="content">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="navbar-fixed-bottom page-footer font-small bg-primary pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase text-white">Footer Content</h5>
                <p></p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">
                    <a asp-controller="user" asp-action="Index" class="style-none white">User</a>
                </h5>
                <ul class="list-unstyled">
                
                    @if(User.Identity.IsAuthenticated){
                        <li>
                        <a asp-controller="user" asp-action="Index" class = "style-none white">My page</a>
                        </li>
                    }else{
                        <li>
                        <a asp-controller="user" asp-action="Login" class = "style-none white">Login</a>
                        </li>
                    }
                </ul>

            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">
                    <a asp-controller="Post" asp-action="Index" class = "style-none white">Posts</a> 
                </h5>
                <ul class="list-unstyled">
                    <li>
                    <a asp-controller="post" asp-action="List" class="style-none white">List</a>
                    </li>
                    @if(User.Identity.IsAuthenticated){
                    <li>
                    <a asp-controller="post" asp-action="MyList" class="style-none white">My list</a>
                    </li>
                    <li>
                    <a asp-controller="post" asp-action="Create" class="style-none white">Add post</a>
                    </li>
                    }
                    
                
                </ul>
            </div>
        </div>  
    </footer>
    <!--Modal window feedback-->

    @await Html.PartialAsync("_Feedback")
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
