/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
	margin: 0;
	padding: 0;
}
html{
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.blue{
  background: rgb(80, 172, 247);
}
.content{
  
  flex-grow: 1;
}

.menu{
  margin: 0 auto;
  margin-top: 20%;
  margin-bottom: 20%;
}
.posts{
  margin: 0 auto;
  margin-top: 2%;
  width:50%;
}
.detailed-post{
    width: 75%;
    margin: 0 auto;
}
@media (max-width: 599px) {
  .center-form{
    margin: 0 auto;
    width:80%;
  }
  .menu, .posts{
    width:80%;
  }
  .detailed-post{
    width: 90%;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .center-form{
    margin: 0 auto;
    width:50%;
  }
  .menu{
    
    width:60%;
  }
}
@media (min-width: 900px){
  .center-form{
    margin: 0 auto;
    width:30%;
  }
  .menu{
    
    width:40%;
  }
}
.center{
  text-align: center;
}
.style-none:hover{
  text-decoration: none; 
}
.navbar-nav .nav-item .nav-link,.navbar-collapse .navbar-nav .nav-link, .white{
  color: white;
}
.navbar-nav .nav-item .nav-link:hover,.navbar-collapse .navbar-nav .nav-link:hover,.white:hover{
  color:rgb(218, 218, 218);
}


